{% extends 'page.html.twig' %}

{% block title %}Mentions Légales{% endblock %}
{% block titre %}Mentions Légales{% endblock %}

{% block body %}
	<div class="blog_body">
		<h2 class="h3 py-3">Éditeur du Jeu</h2>
		<p>Nom de l'Éditeur : [Nom de l'Éditeur]</p>
		<p>Adresse : [Adresse Complète de l'Éditeur]</p>
		<p>Téléphone : [Numéro de Téléphone de l'Éditeur]</p>
		<p>Email : [Adresse E-mail de Contact]</p>
		<p>SIRET/Numéro d'Identification : [Numéro d'Identification de l'Éditeur, si applicable]</p>
		<h2 class="h3 py-3">Directeur de la Publication</h2>
		<p>Nom : [Nom du Directeur de la Publication]</p>
		<p>Fonction : [Fonction du Directeur de la Publication]</p>
		<h2 class="h3 py-3">Hébergeur</h2>
		<p>Nom de l'Hébergeur : [Nom de l'Hébergeur du Site]</p>
		<p>Adresse : [Adresse Complète de l'Hébergeur]</p>
		<p>Téléphone : [Numéro de Téléphone de l'Hébergeur]</p>
		<h2 class="h3 py-3">Propriété Intellectuelle</h2>
		<p>Tous les contenus présents dans "Color Block – Puzzle", y compris les graphiques, le code source, les logos, et les images, sont protégés par les droits de propriété intellectuelle et sont la propriété exclusive de [Nom de l'Éditeur]. Toute reproduction, redistribution ou utilisation non autorisée de ces éléments est interdite sans autorisation préalable écrite de l'éditeur.</p>

		<h2 class="h3 py-3">Limitation de Responsabilité</h2>
		<p>L'éditeur du jeu ne peut être tenu responsable des éventuels dommages directs ou indirects résultant de l'utilisation ou de l'impossibilité d'utiliser "Color Block – Puzzle", y compris, mais sans s'y limiter, les pertes de données ou les interruptions de service.</p>

		<h2 class="h3 py-3">Données Personnelles</h2>
		<p>"Color Block – Puzzle" ne collecte pas d'informations personnelles identifiables des utilisateurs. Nous nous engageons à respecter la vie privée des utilisateurs et à protéger leurs données.</p>

		<h2 class="h3 py-3">Loi Applicable</h2>
		<p>Les présentes mentions légales sont régies par les lois de [Votre Pays ou État]. Tout litige relatif à l'utilisation du jeu sera soumis à la compétence exclusive des tribunaux de [Votre Ville ou Région].</p>

		<h2 class="h3 py-3">Contact</h2>
		<p>Pour toute question ou demande relative à ces mentions légales, veuillez nous contacter à [adresse e-mail de contact].</p>

	</div>
{% endblock %}
