{% extends 'page.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}
{% block titre %}Politique de Confidentialité{% endblock %}

{% block body %}
	<div class="blog_body">
		<h2 class="h3 py-3">Introduction</h2>
		<p>Bienvenue dans "Color Block – Puzzle". Nous nous engageons à protéger votre vie privée et à assurer la sécurité de vos informations personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données lorsque vous jouez à notre jeu.</p>
		<h2 class="h3 py-3">Collecte d'Informations</h2>
		<p>Nous ne collectons aucune information personnelle identifiable lorsque vous jouez à "Color Block – Puzzle". Aucune donnée telle que votre nom, adresse e-mail ou informations de paiement n'est collectée dans le cadre du jeu.</p>
		<h2 class="h3 py-3">Utilisation des Informations</h2>
		<p>Étant donné que nous ne collectons aucune information personnelle identifiable, vos données ne sont pas utilisées à des fins de marketing ou de publicité.</p>

		<h2 class="h3 py-3">Cookies et Technologies Similaires</h2>
		<p>Nous n'utilisons pas de cookies ou de technologies similaires pour collecter des données sur votre utilisation du jeu.</p>

		<h2 class="h3 py-3">Sécurité des Données</h2>
		<p>Nous prenons des mesures raisonnables pour protéger votre expérience de jeu contre toute perte, abus ou accès non autorisé. Cependant, puisque nous ne collectons pas de données personnelles, il n'y a pas de données personnelles à protéger.</p>

		<h2 class="h3 py-3">Modifications de la Politique de Confidentialité</h2>
		<p>Nous pouvons mettre à jour cette politique de confidentialité de temps en temps pour refléter les changements dans notre jeu ou pour se conformer aux lois applicables. Nous vous encourageons à consulter régulièrement cette politique pour rester informé des éventuelles modifications.</p>

		<h2 class="h3 py-3">Contact</h2>
		<p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous contacter à [adresse e-mail de contact].</p>
	</div>
{% endblock %}
