<footer>
	<a href="{{path('page_politique')}}">Politique de Confidentialité</a>
	<a href="{{path('page_cgu')}}">Conditions Générales d'Utilisation (CGU)</a>
	<a href="{{path('page_mentions')}}">Mentions Légales</a>
	<div class="copy_text">
		<p>© Copyrights 2024. Tous droits réservés.</p>
	</div>
</footer>
