<div class="py-4">
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link" href="{{path('page_politique')}}">Politique de Confidentialité</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{path('page_cgu')}}">Conditions Générales d'Utilisation (CGU)</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{path('page_mentions')}}">Mentions Légales</a>
		</li>
	</ul>
	<div class="copy_text text-center py-4">
		<p>© Copyrights 2024. Tous droits réservés.</p>
	</div>
</div>
